.weather {
  background: #e8f8ff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
}
p {
  font-family: Calibri, Arial, serif;
  margin: 10px;
}
.city {
  text-align: end;
  font-size: 26px;
}
.temperature {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
}
